<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/form.css'%}">
</head>
<body>
    {% include 'register/navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'register/footer.html' %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'js/form.js'%}"></script>
</body>
</html>