<!-- Header Tag -->
<header>
    <nav class="navbar nav-flex">
        <div class="micropost-header">
            <h2>MicroStory</h2>
            <p><em>story for all</em></p>
        </div>
        <div class="flex">
            <ul class="flex">
               {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home_app:index' %}">Home</a>
                    </li>
                    <li>
                        <h2 style='color:white;'>Welcome, {{ user.username }}</h2>  
                    </li>
                    <li>
                        <a href="{% url 'register:signout' %}">SignOut</a>
                    </li> 
                {% else %}
                    <li>
                        <a href="{% url 'home_app:index' %}">Home</a>
                    </li>
                     <li>
                    <a href="{% url 'register:signup' %}">Signup</a>
                    </li>
                    <li>
                        <a href="{% url 'register:signin' %}">Signin</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
