<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Home Page | Microstory{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% include 'home_app/header.html' %}

    {% block content %}
        {% include 'register/alerts.html' %}
        <div class="wrapper">
            <div class="welcome">
                <h2>WELCOME TO MICROSTORY APP</h2>
                <p>Nice having you here on our comment story section.</p>
            </div>
            <div class="comment">
                {% if user.is_authenticated%}
                    <h3>Now that your identity is known, smash the pusblish button below.</h3>
                    <button class="btn-publish"><a href="{% url 'comment:microstory' %}">Publish Here</a></button>
                {% else %}
                <h2>Please SignUp Before Publishing!!</h2>
                {% endif %}
            </div>
        </div>

    {% endblock content %}

    {% include 'home_app/footer.html' %}

    <!--JAVASCRIPT Tags-->
    <script type="module" src="{% static 'js/app.js' %}"></script>
</body>
</html>